# App
APP_NAME=LogCenter API
ENV=dev
HOST=0.0.0.0
PORT=8000

# Mongo Atlas
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.example.mongodb.net/logcenter?retryWrites=true&w=majority
MONGO_DB=logcenter

# Auth (opcional)
REQUIRE_API_KEY=false
API_KEY_HEADER=X-API-Key

# Sentry (opcional)
SENTRY_DSN=
